In [1]:
mystring='abcdefghijk'

In [31]:
mystring

'abcdefghijk'

In [32]:
mystring[2:8:2]

'ceg'

In [19]:
name='noman'

In [12]:
name

'noman'

In [13]:
name='baig'

In [14]:
name

'baig'

In [15]:
name[0]='p'

TypeError: 'str' object does not support item assignment

In [167]:
name=name + ' baig'

In [171]:
name

'noman baig'

In [173]:
name.split('a')

['nom', 'n b', 'ig']

In [3]:
print('noman is a good {1} {2} {0}'.format('boy','man','human'))

noman is a good man human boy

In [40]:
name='noman'

In [41]:
print(f'my name is {name}')

my name is noman

In [85]:
list_1=['a','b','c']

In [43]:
list_2=['d','e']

In [49]:
lists=list_1+list_2

In [50]:
lists

['a', 'b', 'c', 'd', 'e']

In [73]:
list_1

['a', 'b', 'c', 'd']

In [51]:
len(lists)

5

In [64]:
list_1

['a', 'b', 'c', 'd', 'd']

In [75]:
listt=list_1 + ['d']

In [76]:
listt

['a', 'b', 'c', 'd']

In [66]:
lisst=list_1.append('d')

In [67]:
lisst

In [86]:
list_1

['a', 'b', 'c']

In [87]:
nlist=list_1.append('f')

In [89]:
list_1

['a', 'b', 'c', 'f']

In [79]:
list_1 + ['g']

['a', 'b', 'c', 'f', 'g']

In [80]:
list_1

['a', 'b', 'c', 'f']

In [100]:
alps=['z','x','c','v','b']

In [98]:
alps.sort()

In [99]:
alps

['b', 'c', 'v', 'x', 'z']

In [103]:
sorted(alps)

['b', 'c', 'v', 'x', 'z']

In [104]:
alps

['z', 'x', 'c', 'v', 'b']

In [110]:
lists=[9,3,7,4]

In [107]:
lists.reverse()

In [108]:
lists

[4, 7, 3, 9]

In [111]:
lists[::-1]

[4, 7, 3, 9]

In [112]:
lists[0]='a'

In [113]:
lists

['a', 3, 7, 4]

In [114]:
lists.push(4)

AttributeError: 'list' object has no attribute 'push'

In [115]:
lists.pop()

4

In [116]:
lists

['a', 3, 7]

In [117]:
lists.push()

AttributeError: 'list' object has no attribute 'push'

In [118]:
lists.pop(0)

'a'

In [119]:
lists

[3, 7]

In [120]:
list.shift()

AttributeError: type object 'list' has no attribute 'shift'

In [132]:
dicts={'key1':'val1','key2':'val2'}

In [122]:
dicts.items()

dict_items([('key1', 'val1'), ('key2', 'val2')])

In [123]:
dicts.keys()

dict_keys(['key1', 'key2'])

In [124]:
dicts.values()

dict_values(['val1', 'val2'])

In [125]:
dicts(key1)

NameError: name 'key1' is not defined

In [126]:
dicts['key1']

'val1'

In [127]:
dicts['val1']

KeyError: 'val1'

In [135]:
dicts

{'key1': 'val1', 'key2': 'val2'}

In [137]:
dicts['key2']

'val2'

In [143]:
d={'k1':123,'k2':[0,1,2],'k3':{'insidekey':'c'}}

In [144]:
d

{'k1': 123, 'k2': [0, 1, 2], 'k3': {'insidekey': 'c'}}

In [140]:
d[k3]

NameError: name 'k3' is not defined

In [146]:
d['k3']['insidekey'].upper()

'C'

In [147]:
lists=[1,2,3,4]

In [148]:
t=(1,3,3,5,6)

In [149]:
t

(1, 3, 3, 5, 6)

In [150]:
lists

[1, 2, 3, 4]

In [151]:
t=(5,4,9,4,7,54)

In [152]:
t

(5, 4, 9, 4, 7, 54)

In [153]:
lists[0]=55

In [154]:
lists

[55, 2, 3, 4]

In [155]:
t[0]=565

TypeError: 'tuple' object does not support item assignment

In [158]:
lst=[3,3,2,4,4,8,9,9,6,6,6]

In [161]:
my=set(lst)

In [162]:
my.add(66)

In [163]:
my

{2, 3, 4, 6, 8, 9, 66}

In [164]:
ar=[1,2,3]

In [165]:
ar[::-1]

[3, 2, 1]

In [174]:
st1='nom'

In [175]:
st2='an'

In [176]:
st1+st2

'noman'

In [177]:
st1

'nom'

In [183]:
ls1=['nom']

#

In [184]:
ls2=['an']

ls1+ls2

In [185]:
ls1+ls2

['nom', 'an']

In [186]:
ls1

['nom']

In [187]:
ls1.append(ls2)

In [188]:
ls1

['nom', ['an']]

In [189]:
lst=[5,8,8,1,1,1,10,10]

In [190]:
set(lst)

{1, 5, 8, 10}

In [1]:
pwd

'C:\\Users\\Noman Baig\\Documents\\Untitled Folder'

In [2]:
%%writefile myfile.txt

UsageError: %%writefile is a cell magic, but the cell body is empty.

In [3]:
%%writefile myfile.txt
this is noman
writing this file who jupyter notebook
and saving it in same path

Writing myfile.txt

In [3]:
myfile =open('myfile.txt')

In [4]:
myfile.read()

'this is noman\nwriting this file who jupyter notebook\nand saving it in same path\n'

In [5]:
myfile.read()

''

In [6]:
myfile.seek(0)

0

In [13]:
current=myfile.read()

In [15]:
current

'this is noman\nwriting this file who jupyter notebook\nand saving it in same path\n'

In [21]:
myfile.readlines()

['this is noman\n',
 'writing this file who jupyter notebook\n',
 'and saving it in same path\n']

In [7]:
myfile.close()

In [8]:
myfile.read()

ValueError: I/O operation on closed file.

In [9]:
with open('myfile.txt') as my_new_file:
    contents=my_new_file.read()

In [10]:
contents

'this is noman\nwriting this file who jupyter notebook\nand saving it in same path\n'

In [17]:
%%writefile my_new_file.txt
one on first
two on second
three on third

Overwriting my_new_file.txt

In [20]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

one on first
two on second
three on third
four on fourth

In [19]:
with open('my_new_file.txt',mode='a') as f:
    f.write('four on fourth')

In [21]:
with open('files.txt',mode='w') as fan:
    fan.write('this is my next creates file')

In [22]:
with open('files.txt',mode='r') as fan:
    print(fan.read())

this is my next creates file

In [23]:
4*(6+5)

44

In [24]:
4*6+5

29

In [25]:
16**0.5

4.0

In [26]:
16**2

256

In [27]:
s = 'hello'

In [28]:
s[1]

'e'

In [29]:
s[::-1]

'olleh'

In [30]:
s[-1]

'o'

In [31]:
s[4]

'o'

In [32]:
[0]*3

[0, 0, 0]

In [33]:
list3 = [1,2,[3,4,'hello']]

In [34]:
list3[2][2]='goodbye '

In [35]:
list3

[1, 2, [3, 4, 'goodbye ']]

In [36]:
list4 = [5,3,4,6,1]

In [37]:
list4.sort()

In [38]:
list4

[1, 3, 4, 5, 6]

In [39]:
d = {'simple_key':'hello'}

In [41]:
d['simple_key']

'hello'

In [42]:
d[0]

KeyError: 0

In [43]:
d = {'k1':{'k2':'hello'}}

In [44]:
d['k1']['k2']

'hello'

In [45]:
d = {'k1':[{'nest_key':['this is deep',['hello']]}]}

In [47]:
d['k1'][0]['nest_key'][1][0]

'hello'

In [1]:
d = {'k1':[1,2,{'k2':['this is tricky',{'tough':[1,2,['hello']]}]}]}

In [14]:
d['k1'][2]['k2'][1]['tough'][2][0]

'hello'

In [3]:
121**0.5

11.0

In [4]:
11**2

121

In [5]:
4**3

64

In [13]:
64**0.5

8.0

In [15]:
list5 = [1,2,2,33,4,4,11,22,3,3,2]

In [16]:
set(list5)

{1, 2, 3, 4, 11, 22, 33}

In [17]:
3.0==3

True

In [18]:
4**0.5 != 2

False

In [19]:
# two nested lists
l_one = [1,2,[3,4]]
l_two = [1,2,{'k1':4}]

# True or False?
l_one[2][0] >= l_two[2]['k1']

False

In [7]:
weekday=True
if weekday:
    wakeup('6.30')
else:
    print('sotey raho')

NameError: name 'wakeup' is not defined

In [6]:
for i in range(5):
    print('i')

i
i
i
i
i

In [11]:
lists=[1,2,3,4,5]
for _ in lists:
    print(_)

1
2
3
4
5

In [14]:
sums=0
for num in lists:
    sums=sums+num
print(sums)

15

In [15]:
my_string='noman baig'

In [16]:
for letters in my_string:
    print(letters)

n
o
m
a
n

b
a
i
g

In [10]:
my_lst=[(1,2),(3,4),(5,6),(7,8)]

In [12]:
for a,b in my_lst:
    print(b)
    print(a)

2
1
4
3
6
5
8
7

In [9]:
d= {'k1':1,'k2':2,'k3':3}
for key,val in d.items():
    print(key)
    print(val)

k1
1
k2
2
k3
3

In [15]:
x=0
while x<5:
    print('val of x is ',x)
    #print(f'val of x is {x}')
    x+=1

val of x is  0
val of x is  1
val of x is  2
val of x is  3
val of x is  4

In [52]:
word='abcd'
for letter in enumerate(word):
    print(letter)

(0, 'a')
(1, 'b')
(2, 'c')
(3, 'd')

In [21]:
lst1=[1,2,3]
lst2=['a','b','c']
for item in zip(lst1,lst2):
    print(item)

(1, 'a')
(2, 'b')
(3, 'c')

In [58]:
lst1=[1,2,3]
lst2=['a','b','c']
for x,y in zip(lst1,lst2):
    print(y)
    print(x)

a
1
b
2
c
3

In [9]:
'n' not in 'noman'

False

In [72]:
d= {'key1':3} 
3 in d.values()

True

In [73]:
lst=[3,4,8,10,1]

In [74]:
min(lst)

1

In [75]:
max(lst)

10

In [76]:
from random import shuffle

In [82]:
lst=[1,2,3,4,5,6,7,8,9]

In [83]:
shuffle(lst)

In [84]:
lst

[2, 8, 9, 7, 4, 5, 6, 3, 1]

In [85]:
from random import randint

In [88]:
randint(50,100)

54

In [94]:
result=input('what is ur no.?')

what is ur no.?123

In [98]:
float(result)

123.0

In [99]:
mystring='noman baig'
lst=[]
for letters in mystring:
    lst.append(letters)

In [100]:
lst

['n', 'o', 'm', 'a', 'n', ' ', 'b', 'a', 'i', 'g']

In [101]:
lst = [letters for letters in mystring]

In [102]:
lst

['n', 'o', 'm', 'a', 'n', ' ', 'b', 'a', 'i', 'g']

In [103]:
lst=[x for x in 'noman']

In [104]:
lst

['n', 'o', 'm', 'a', 'n']

In [109]:
lst=[num**2 for num in range(0,11) if num%2==0]

In [110]:
lst

[0, 4, 16, 36, 64, 100]

In [111]:
celcius=[0,10,20,34.5]
fahrenheit=[((9/5*temp)+32) for temp in celcius]

In [112]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [113]:
lst=[x if x>2 else 'odd' for x in range(0,11)]

In [114]:
lst

['odd', 'odd', 'odd', 3, 4, 5, 6, 7, 8, 9, 10]

In [115]:
lst=[]
for x in [2,4,6]:
    for y in [10,100,1000]:
        lst.append(x*y)

In [116]:
lst

[20, 200, 2000, 40, 400, 4000, 60, 600, 6000]

In [117]:
lst=[x*y for x in [2,4,6] for y in [10,100,1000]]

In [118]:
lst

[20, 200, 2000, 40, 400, 4000, 60, 600, 6000]

In [119]:
st = 'Print only the words that start with s in this sentence'

In [120]:
lst=[words for words in st.split() if words[0]=='s']

In [121]:
lst

['start', 's', 'sentence']

In [122]:
lst=[num for num in range(0,11) if num%2==0]

In [123]:
lst

[0, 2, 4, 6, 8, 10]

In [127]:
lst=[num for num in range(2,51) if num%3==0]

In [128]:
lst

[3, 6, 9, 12, 15, 18, 21, 24, 27, 30, 33, 36, 39, 42, 45, 48]

In [129]:
st = 'Print every word in this sentence that has an even number of letters'

In [131]:
prnt=[word for word in st.split() if len(word)%2==0]

In [132]:
prnt

['word', 'in', 'this', 'sentence', 'that', 'an', 'even', 'number', 'of']

In [138]:
lst=[]
for x in range(1,101):
    if x%3==0 and x%5==0:
        print('FizzBuzz')
    elif x%3==0:
        print('Fizz')
    elif x%5==0:
        print('Buzz')
    else:
        print(x)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [139]:
st = 'Create a list of the first letters of every word in this string'

In [142]:
lst=[word[0] for word in st.split()]

In [143]:
lst

['C', 'a', 'l', 'o', 't', 'f', 'l', 'o', 'e', 'w', 'i', 't', 's']

In [147]:
print('noman')

noman

In [144]:
from random import randint
num=randint(1,100)
print("WELCOME TO GUESS ME!")
print("I'm thinking of a number between 1 and 100")
print("If your guess is more than 10 away from my number, I'll tell you you're COLD")
print("If your guess is within 10 of my number, I'll tell you you're WARM")
print("If your guess is farther than your most recent guess, I'll say you're getting COLDER")
print("If your guess is closer than your most recent guess, I'll say you're getting WARMER")
print("LET'S PLAY!")

WELCOME TO GUESS ME!
I'm thinking of a number between 1 and 100
If your guess is more than 10 away from my number, I'll tell you you're COLD
If your guess is within 10 of my number, I'll tell you you're WARM
If your guess is farther than your most recent guess, I'll say you're getting COLDER
If your guess is closer than your most recent guess, I'll say you're getting WARMER
LET'S PLAY!

In [ ]:
guesses=[0]

while True:
pass

In [13]:
while True:
    
    guess = int(input("I'm thinking of a number between 1 and 100.\n  What is your guess? "))
    
    if guess < 1 or guess > 100:
        print('OUT OF BOUNDS! Please try again: ')
        continue
        
    break

I'm thinking of a number between 1 and 100.
  What is your guess? 4

In [15]:
from random import randint
num=randint(1,100)
print("WELCOME TO GUESS ME!")
print("I'm thinking of a number between 1 and 100")
print("If your guess is more than 10 away from my number, I'll tell you you're COLD")
print("If your guess is within 10 of my number, I'll tell you you're WARM")
print("If your guess is farther than your most recent guess, I'll say you're getting COLDER")
print("If your guess is closer than your most recent guess, I'll say you're getting WARMER")
print("LET'S PLAY!")

guesses=[0]

while True:

    # we can copy the code from above to take an input
    guess = int(input("I'm thinking of a number between 1 and 100.\n  What is your guess? "))
    
    if guess < 1 or guess > 100:
        print('OUT OF BOUNDS! Please try again: ')
        continue
    
    # here we compare the player's guess to our number
    if guess == num:
        print(f'CONGRATULATIONS, YOU GUESSED IT IN ONLY {len(guesses)} GUESSES!!')
        break
        
    # if guess is incorrect, add guess to the list
    guesses.append(guess)
    
    # when testing the first guess, guesses[-2]==0, which evaluates to False
    # and brings us down to the second section
    
    if guesses[-2]:  
        if abs(num-guess) < abs(num-guesses[-2]):
            print('WARMER!')
        else:
            print('COLDER!')
   
    else:
        if abs(num-guess) <= 10:
            print('WARM!')
        else:
            print('COLD!')

WELCOME TO GUESS ME!
I'm thinking of a number between 1 and 100
If your guess is more than 10 away from my number, I'll tell you you're COLD
If your guess is within 10 of my number, I'll tell you you're WARM
If your guess is farther than your most recent guess, I'll say you're getting COLDER
If your guess is closer than your most recent guess, I'll say you're getting WARMER
LET'S PLAY!
I'm thinking of a number between 1 and 100.
  What is your guess? 98
COLD!
I'm thinking of a number between 1 and 100.
  What is your guess? 56
WARMER!
I'm thinking of a number between 1 and 100.
  What is your guess? 50
COLDER!
I'm thinking of a number between 1 and 100.
  What is your guess? 52
WARMER!
I'm thinking of a number between 1 and 100.
  What is your guess? 51
COLDER!
I'm thinking of a number between 1 and 100.
  What is your guess? 53
WARMER!
I'm thinking of a number between 1 and 100.
  What is your guess? 54
WARMER!
I'm thinking of a number between 1 and 100.
  What is your guess? 55
WARMER!
I'm thinking of a number between 1 and 100.
  What is your guess? 56
WARMER!
I'm thinking of a number between 1 and 100.
  What is your guess? 58
WARMER!
I'm thinking of a number between 1 and 100.
  What is your guess? 60
WARMER!
I'm thinking of a number between 1 and 100.
  What is your guess? 70
WARMER!
I'm thinking of a number between 1 and 100.
  What is your guess? 80
WARMER!
I'm thinking of a number between 1 and 100.
  What is your guess? 90
COLDER!
I'm thinking of a number between 1 and 100.
  What is your guess? 85
WARMER!
I'm thinking of a number between 1 and 100.
  What is your guess? 86
COLDER!
I'm thinking of a number between 1 and 100.
  What is your guess? 85
WARMER!
I'm thinking of a number between 1 and 100.
  What is your guess? 84
WARMER!
I'm thinking of a number between 1 and 100.
  What is your guess? 83
WARMER!
I'm thinking of a number between 1 and 100.
  What is your guess? 82
WARMER!
I'm thinking of a number between 1 and 100.
  What is your guess? 81
WARMER!
I'm thinking of a number between 1 and 100.
  What is your guess? 80
WARMER!
I'm thinking of a number between 1 and 100.
  What is your guess? 79
WARMER!
I'm thinking of a number between 1 and 100.
  What is your guess? 78
WARMER!
I'm thinking of a number between 1 and 100.
  What is your guess? 76
CONGRATULATIONS, YOU GUESSED IT IN ONLY 25 GUESSES!!

In [16]:
lst=[1,2,3]

In [25]:
#to check documentation on pre defined functions and methods
help(lst.insert)

Help on built-in function insert:

insert(index, object, /) method of builtins.list instance
    Insert object before index.

In [18]:
lst

[1, 2, 6, 3]

In [19]:
lst.append(4)

In [20]:
lst

[1, 2, 6, 3, 4]

In [26]:
st='noman is a good boy'
st.split()

['noman', 'is', 'a', 'good', 'boy']

In [32]:
def dog_check(mystring):
    return 'dog' in mystring.lower()

In [33]:
dog_check('my dog ran away')

True

In [19]:
def fun(par):
    lst=[]
    sums=lst+par
    return sums

In [20]:
res=fun('noman')

type(res)

In [21]:
res

'noman'

In [60]:
'''if starts with vowel add ay in end else add first word to end then ad ay'''
def piglatin(word):
    first_letter=word[0]
    if first_letter in 'aeiou':
        return word +'ay'
    else:
        return word[1:]+first_letter+'ay'

In [61]:
piglatin('noman')

'omannay'

In [62]:
piglatin('european')

'europeanay'

In [67]:
def get_boundaries(target,margin):
    low_limit=target-margin
    high_limit=margin+target
    return low_limit,high_limit
low,high=get_boundaries(100,20)
print(low,high)

80 120

In [9]:
def myfunc(a,b,c=0,d=0,e=0):
    #return sum of 5% of a and b
    return sum((a,b,c,d,e)) * 0.05

In [12]:
myfunc(5,6,5,4,3)

1.1500000000000001

In [15]:
def newfun(*args):
    for item in args:
        print(item)

In [16]:
newfun(3,2,4,1,2,4,5,3)

3
2
4
1
2
4
5
3

In [29]:
def newfunn(**kwargs):
    if 'fruit' in kwargs:
        print('My fruit choice is {}'.format(kwargs['fruit']))
    else:
        print('i didnt find any fruit here')

In [30]:
newfunn(fruit='apple',veggie='lettuce')

My fruit choice is apple

In [31]:
def chk_even_num(lst):
    for num in lst:
        if num %2==0:
            return True
        else:
            pass
    return False

In [37]:
chk_even_num([1,3,5,2])

True

In [43]:
def ret_even_num(lst):
    evn=[]
    for num in lst:
        if num %2==0:
            evn.append(num)
        else:
            pass
    return evn

In [44]:
ret_even_num([1,2,3,4,5,6,7,8])

[2, 4, 6, 8]

In [71]:
work_hours=[('noman',400),('ali',600),('faizan',300)]

In [78]:
def employee_chk(work_hours):
    current_hr=0
    emp_of_month=''
    for emp,hrs in work_hours:
        if hrs > current_hr:
            current_hr=hrs
            emp_of_month=emp
        else:
            pass
    return emp_of_month,current_hr

In [81]:
name,hr = employee_chk(work_hours)

item

name

In [82]:
name

'ali'

In [83]:
hr

600

In [84]:
item = employee_chk(work_hours)

In [85]:
item

('ali', 600)

In [86]:
eg=[1,2,3,4,5,6]

In [87]:
from random import shuffle

In [89]:
shuffle(eg)

In [90]:
eg

[4, 6, 1, 2, 3, 5]

In [91]:
eg

[4, 6, 1, 2, 3, 5]

In [94]:
def shuffle_list(my_list):
    shuffle(my_list)
    return my_list

In [96]:
shuffle_list(eg)

[3, 5, 6, 2, 1, 4]

In [97]:
def player_guess():
    guess=''
    while guess not in ['0','1','2']:
        guess=input("Pick a number: 0, 1, or 2:  ")
    return int(guess)

In [99]:
player_guess()

Pick a number: 0, 1, or 2:  3
Pick a number: 0, 1, or 2:  5
Pick a number: 0, 1, or 2:  4
Pick a number: 0, 1, or 2:  1

1

In [101]:
def check_guess(my_list,guess):
    if my_list[guess]=='O':
        print("you're correct")
    else:
        print("you've better luck")
        print(my_list)

In [109]:
#initial list
my_list=['O',' ',' ']
#shuffle list
shuffle_list(my_list)
#user guess
guess=player_guess()
#check guess
check_guess(my_list,guess)

Pick a number: 0, 1, or 2:  1
you're correct

In [114]:
#LESSER OF TWO EVENS: Write a function that returns the lesser of two given numbers if both numbers are even, but returns the greater if one or both numbers are odd
def chk_even_num(a,b):
    if a % 2 == 0 and b % 2 == 0:
        return min(a,b)
    else:
        return max(a,b)

In [115]:
chk_even_num(2,4)

2

In [127]:
#ANIMAL CRACKERS: Write a function takes a two-word string and returns True if both words begin with same letter
def tw_str(strn):
    wordsplit=strn.split()
    return wordsplit[0][0]==wordsplit[1][0]

In [130]:
tw_str('noman baig')

False

In [136]:
def sumint(a,b):
    return a+b==20 or a==20 or b==20

In [137]:
sumint(18,2)

True

In [138]:
sumint(18,9)

False

In [139]:
sumint(20,3)

True

In [140]:
'noman'.capitalize()

'Noman'

In [153]:
def caps(strn):
    if len(strn) > 3:
        return strn[:3].capitalize() + strn[3:].capitalize()
    else:
        return 'short name entered'

In [152]:
caps('macdonalds')

'MacDonalds'

In [154]:
caps('nom')

'short name entered'

In [156]:
caps('noman')

'NomAn'

In [170]:
def masteryoda(sent):
    return ' '.join(sent.split()[::-1])

In [171]:
masteryoda('noman is learning python')

'python learning is noman'

In [172]:
def intnum(a):
    return abs(100-a) <=10 or abs(200-a) <=10

In [182]:
intnum(120)

False

In [85]:
def has33(lst):
    for i in range(0,len(lst)):
        print(i)
        #if lst[i]==3 and lst[i+1]==3: 
        # another way to solve this
        if lst[i:i+2]==[3,3]:
            return True
        else:
            pass
    return False

In [86]:
has33([1,2,3,3,5,4,4])

0
1
2

True

In [187]:
for i in range(2,6):
    print(i)

2
3
4
5

In [188]:
-20 < 10

True

In [211]:
lst=['a','b','c','d','e','f']
lst[0:4]

['a', 'b', 'c', 'd']

In [248]:
def paperdoll(string):
    empt=''
    for i in string:
        empt +=i*3
    return empt

In [249]:
paperdoll('noman')

'nnnooommmaaannn'

In [224]:
a='noman'
a[::1]

'noman'

In [250]:
paperdoll('hello')

'hhheeellllllooo'

In [266]:
def blackjack(a,b,c):
    if sum((a,b,c)) <=21:
        return sum((a,b,c))
    elif sum((a,b,c))>21 and 11 in (a,b,c):
        return sum((a,b,c))-10
    else:
        return 'BUST'

In [267]:
blackjack(5,6,7)

18

In [268]:
blackjack(9,9,9)

'BUST'

In [269]:
blackjack(9,9,11)

19

In [5]:
#Return the sum of the numbers in the array, except ignore sections of numbers starting with a 6 and extending to the next 9 (every 6 will be followed by at least one 9). Return 0 for no numbers
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [6]:
summer_69([1, 3, 5])

9

In [1]:
name='noman'
name.capitalize()

'Noman'

In [10]:
summer_69([4, 5, 6, 7, 8, 9, 5])

14

In [8]:
summer_69([2, 1, 6, 9, 11])

14

In [95]:
def spy_game(lst):
    code=[0,0,7,'x']
    for i in lst:
        if i==code[0]:
            code.pop(0)
    return len(code)==1

In [96]:
spy_game([1,2,4,0,0,7,5])

True

In [97]:
spy_game([1,0,2,4,0,5,7])

True

In [98]:
spy_game([1,7,2,0,4,5,0])

False

In [100]:
lst=[1,2,3,4,5,6,7,8,9]
print(len(lst))
for i in lst:
    print(i)

9
1
2
3
4
5
6
7
8
9

In [39]:
def count_primes(num):
    count=0
    if num>1:
        for i in range(2,num+1):
            if i%2==0:
                break
        else:
            count+=num
    return count

In [40]:
count_primes(100)

0

In [4]:
def lesser_of_two_evens(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [5]:
lesser_of_two_evens(2,4)

2

In [6]:
lesser_of_two_evens(2,5)

5

In [6]:
alp=['a','b','c','d','e','f']
alp[-3:]

['d', 'e', 'f']

In [43]:
alp[-3]

'd'

In [44]:
def ac(strn):
    wordlst=strn.split()
    return wordlst[0][0]==wordlst[1][0]

In [46]:
ac('mame noman')

False

In [48]:
def lte(a,b):
    if a%2==0 and b%2==0:
        return min(a,b)
    else:
        return max(a,b)

In [49]:
lte(8,2)

2

In [50]:
def twoin(a,b):
    return a+b==20 or a==20 or b==20

In [53]:
twoin(16,5)

False

In [56]:
def capof(strn):
    if len(strn)>4:
        return strn[:3].capitalize() + strn[3:].capitalize()

In [57]:
capof('macdonald')

'MacDonald'

In [61]:
name='chupapi munanyo'
name[::-1]

'oynanum ipapuhc'

In [64]:
sent='my name is khan'
def rev(sent):
    return ' '.join(sent.split()[::-1])

In [65]:
rev(sent)

'khan is name my'

In [67]:
def has33(lst):
    for i in lst:
        return lst[i:i+2]==[3,3]

In [68]:
has33([1, 3, 3])

True

In [87]:
def eve3(strn):
    lst=''
    for i in strn:
        lst+=i*3
    return lst

In [88]:
eve3('noman')

'nnnooommmaaannn'

In [1]:
def summer69(lst):
    total=0
    add= True
    for num in lst:
        while add:
            if num != 6:
                total+=num
                break
            else:
                add=False
        while not add:
            if num !=9:
                break
            else:
                add= True
                break
    return total

In [2]:
summer69([4, 5, 6, 7, 8, 9])

9

In [ ]:
def summer_69(arr):
    total = 0
    add = True
    for num in arr:
        while add:
            if num != 6:
                total += num
                break
            else:
                add = False
        while not add:
            if num != 9:
                break
            else:
                add = True
                break
    return total

In [ ]:
summer_69([4, 5, 6, 7, 8, 9])

In [3]:
def spyg(nums):
    code=[0,0,7,'x']
    for num in nums:
        if num == code[0]:
            code.pop(0)
    return len(code)==1

In [4]:
spyg([1,0,2,4,0,5,7])

True

In [ ]:
def spy_game(nums):

    code = [0,0,7,'x']
    
    for num in nums:
        if num == code[0]:
            code.pop(0)   # code.remove(num) also works
       
    return len(code) == 1

In [ ]:
spy_game([1,0,2,4,0,5,7])

In [5]:
print('noman')

noman

In [13]:
def square(num):
    return num**2

In [3]:
num_lst=[1,2,3,4,5,6]

In [5]:
list(map(square,num_lst))

[1, 4, 9, 16, 25, 36]

In [4]:
def chk_evn(num):
    return num%2==0

In [6]:
list(filter(chk_evn,num_lst))

[2, 4, 6]

In [15]:
lambda num:num**2

In [16]:
list(map(lambda num: num**2,num_lst))

[1, 4, 9, 16, 25, 36]

In [17]:
names=['noman','baig']

In [20]:
list(map(lambda x : x[0],names))

['n', 'b']

In [118]:
def printer():
    x=50
    return x

In [27]:
def vol(rad):
    return 4/3*3.142*rad**3

In [28]:
vol(2)

33.51466666666666

In [33]:
def ran_chk(num,low,high):
    return num>=low and num<=high

In [34]:
ran_chk(3,1,10)

True

In [65]:
def up_low(s):
    #using list comprehension
    uc=[i for i in s if i.isupper()]
    lc=[i for i in s if i.islower()]
    print('original string:',s)
    print('upper case letters:',len(uc))
    print('lower case letters:',len(lc))

In [66]:
up_low('Hello Mr. Rogers, how are you this fine Tuesday?')

original string: Hello Mr. Rogers, how are you this fine Tuesday?
upper case letters: 4
lower case letters: 33

In [67]:
strn='Noman Baig'

In [68]:
strn.islower()

False

In [71]:
def unique_list(lst):
    return list(set(lst))

In [72]:
unique_list([1,1,1,1,2,2,3,3,3,3,4,5])

[1, 2, 3, 4, 5]

In [84]:
def multiply(lst):
    total=1
    for i in lst:
        total*=i
    return total

In [85]:
multiply([1,2,3,-4])

-24

In [104]:
def palindrome(s):
    s=s.replace(' ','')
    return s[::-1] == s

In [105]:
palindrome('nurses run')

True

In [130]:
import string
def ispangram(str1, alphabet=string.ascii_lowercase):
    alphaset=set(alphabet)
    str1=str1.replace(' ','')
    str1=str1.lower()
    str1=set(str1)
    return alphaset==str1

In [131]:
ispangram("The quick brown fox jumps over the lazy dog")

True

In [18]:
from IPython.display import clear_output
clear_output()

In [10]:
def user_choice():
    
    choice='wrong'
    acceptable_range=range(0,10)
    within_range = False
    
    
    while choice.isdigit() == False or within_range==False:
        
        choice = input('please enter no. between 0-10:')
        
        if choice.isdigit() == False:
            clear_output()
            print('"thats not a right digit"')
            
        if choice.isdigit() == True:
            if int(choice) in acceptable_range:
                within_range=True
            else:
                clear_output()
                print('"sorry youre out of acceptable range"')
                within_range=False
    clear_output()
    return int(choice)

In [11]:
game_list=[0,1,2]

In [12]:
def display_game(lst):
    print('here is the current list')
    print(lst)

In [13]:
display_game(game_list)

here is the current list
[0, 1, 2]

In [14]:
def position_choice():
    choice='wrong'
    
    while choice not in ['0','1','2']:
        
        choice= input('Pick a position to replace (0,1,2): ')
        
        if choice not in ['0','1','2']:
            print('Sorry, but you did not choose a valid position (0,1,2)')
    
    clear_output()
    return int(choice)

In [15]:
def replacement_choice(lst,position):
    user_input= input('Type a string to place at the position')
    lst[position]=user_input
    return lst

In [26]:
def gameon_choice():
    choice='wrong'
    
    while choice.capitalize() not in ['Y','N']:
        
        choice= input('Would you like to keep playing? Y or N ')
        
        if choice not in ['Y','N']:
            
            print("Sorry, I didn't understand. Please make sure to choose Y or N.")
    clear_output()
    if choice.capitalize()== 'Y':
        return True
    else:
        return False

In [27]:
gameon_choice()

True

In [23]:
game_on=True

game_list=[0,1,2]

while game_on:
    clear_output()
    display_game(game_list)
    
    position=position_choice()
    
    game_list=replacement_choice(game_list,position)
    
    clear_output()
    display_game(game_list)
    
    game_on=gameon_choice()

In [1]:
count=0
while count<11:
    print(count)
    count+=1

0
1
2
3
4
5
6
7
8
9
10

In [28]:
number=12345
evn=0
odd=0
if num%2==0:
    evn+=1+2+3+4+5
else:
    odd-=1-2-3-4-5 
        
print(evn)
print(odd)

0
-13

In [29]:
num = int(input("Enter a number: "))
if (num % 2) == 0:
   print("{0} is Even".format(num))
else:
   print("{0} is Odd".format(num))

Enter a number: 12345
12345 is Odd

In [14]:
#OOP Starts here
class Dog():
    def __init__(self,mybreed,name,spots):
        #mybreed can be written instead of bread in parameter and assignment the thing that count is with self parameter like self.breed
        self.breed=mybreed
        self.name=name
        self.spots=spots

In [15]:
my_dog=Dog(mybreed='golden retreiver',name='Ed',spots=False)

In [16]:
my_dog.breed

'golden retreiver'

In [17]:
my_dog.name

'Ed'

In [18]:
my_dog.spots

False

In [35]:
class Dog():
    

    #class object attribute
    species='mammal'
    
    def __init__(self,breed,name):
        self.breed=breed
        self.name=name
        
        
    #methods are the functions inside class for specific object
    def bark(self,number):
        print(f'Wooff my name is {self.name} having no. {number}')

In [36]:
my_dog=Dog('huskie','ed')

In [37]:
my_dog.species

'mammal'

In [38]:
my_dog.breed

'huskie'

In [39]:
my_dog.name

'ed'

In [48]:
my_dog.bark(7)

Wooff my name is ed having no. 7

In [75]:
class Circle():
    #class object attribute
    pi=3.14
    
    def __init__(self,radius=1):
        self.radius=radius
        self.area= self.radius * self.radius * self.pi
        
    def get_circumference(self):
        return self.radius * self.pi * 2

In [76]:
my_circle=Circle(30)

In [77]:
my_circle.get_circumference()

188.4

In [78]:
my_circle.pi

3.14

In [79]:
my_circle.radius

30

In [80]:
my_circle.area

2826.0

In [105]:
class Animal():
    def __init__(self):
        print('Animal is created')
        
    def who_am_i(self):
        print('I am an animal')
            
    def eat(self):
        print('I am eating')

In [114]:
class Dog(Animal):
    def __init__(self):
        Animal.__init__(self)
        print('Dog is created')
        
    # you can also overwrite the method while inheriting from base class and add new methods
    def who_am_i(self):
        print('I am dog')
    
    #def eat(self):
        #print('Dog is eating')

In [115]:
my_dog=Dog()

Animal is created
Dog is created

In [116]:
my_dog.who_am_i()

I am dog

In [117]:
my_dog.eat()

I am eating

In [101]:
#polymorphism is class having same method name but unique output

In [102]:
#class having no instance is abstract class

In [103]:
#you cant make instance of abtract class(base class) but you can make after inheriting them

In [122]:
class Dog():
    def __init__(self,name):
        self.name=name
        
    def speak(self):
        return self.name + ' says woof'

In [123]:
class Cat():
    def __init__(self,name):
        self.name=name
        
    def speak(self):
        return self.name + ' says meow'

In [124]:
niko=Dog('niko')
felix=Cat('felix')

In [126]:
print(niko.speak())

niko says woof

In [127]:
# abstract class

class Animal():
    def __init__(self,name):
        self.name=name
        
    def speak(self):
        raise NotImplementedError('subclass must implement this abstract method')

In [128]:
my_animal=Animal('fred')

In [129]:
my_animal.speak()

NotImplementedError: subclass must implement this abstract method

In [130]:
class Dog(Animal):
    def speak(self):
        print(f'dog name is {self.name}')

In [131]:
the_dog=Dog('edd')

In [132]:
the_dog.speak()

dog name is edd

In [1]:
#what print does is whats the string representation of b

In [27]:
class Book():
    def __init__(self,author,title,pages):
        self.author=author
        self.title=title
        self.pages=pages
        
    def __str__(self):
        return f'{self.author} wrote {self.title} having {self.pages} pages'
    
    def __len__(self):
        return self.pages
    
    def __del__(self):
        print('this object has deleted')

In [28]:

b=Book('noman','objects in c', 300)

In [29]:
print(b)

noman wrote objects in c having 300 pages

In [30]:
len(b)

300

In [53]:
del b

NameError: name 'b' is not defined

In [54]:
# oop homework
class Cylinder():
    
    pi=3.14
    
    def __init__(self,height=1,radius=1):
        self.height=height
        self.radius=radius
        
    def volume(self):
        return self.pi*(self.radius**2)*self.height
        

    def surface_area(self):
        return 2*(self.pi*(self.radius**2))+ 2*(self.pi*self.radius*self.height)

In [55]:
c=Cylinder(2,3)

In [56]:
c.volume()

56.52

In [57]:
c.surface_area()

94.2

In [66]:
import math


class Line():
    def __init__(self,c1,c2):
        self.c1=c1
        self.c2=c2
        
        
    def distance(self):
        return math.sqrt(((c1[0]-c2[0])**2)+((c1[1]-c2[1])**2))
    
    def slope(self):
        return (c2[1]-c1[1])/(c2[0]-c1[0])

In [67]:
c1=(3,2)
c2=(8,10)

li=Line(c1,c2)

In [68]:
li.distance()

9.433981132056603

In [69]:
li.slope()

1.6

In [111]:
class Account():
    def __init__(self,owner,balance):
        self.owner=owner
        self.balance=balance
    
    
    def deposit(self,money):
        self.balance+=money
        print('Deposit Accepted')
        
    
    def withdraw(self,money):        
        if money>self.balance:
            return 'Funds Unavailable'
        else:
            self.balance-=money
            print('Withdrawal Accepted')
    
    def __str__(self):
        return f'Account Title={self.owner}\nAccount Balance={self.balance}'

In [116]:
acc1=Account('noman',500)

In [117]:
acc1.owner

'noman'

In [118]:
acc1.balance

500

In [119]:
print(acc1)

Account Title=noman
Account Balance=500

In [121]:
acc1.deposit(50)

Deposit Accepted

In [122]:
acc1.withdraw(75)

Withdrawal Accepted

In [123]:
acc1.withdraw(500)

'Funds Unavailable'

In [ ]:
#encapsulation restrict methods and variables from being modified accidently

In [70]:
class Car():
    def __init__(self):
        self.__updateSoftware()
    
    def drive(self):
        print('driving')
    
    def __updateSoftware(self):
        print('updating software')

In [71]:
redcar= Car()

updating software

In [72]:
redcar.drive()

driving

In [ ]:
#private variables

In [79]:
class Car():
    __name=''
    __maxspeed=0
    
    def __init__(self):
        self.__name='noman'
        self.__maxspeed=300
    
    def drive(self):
        print('driving maxspeed '+str(self.__maxspeed))
        
    def setMaxSpeed(self,speed):
        self.__maxspeed=speed

In [80]:
redcar=Car()

In [81]:
redcar.drive()

driving maxspeed 300

In [ ]:
#you cant assign values to private variable you've to set a setter method for assigning values to private variable
redcar.__maxspeed=10

In [82]:
redcar.setMaxSpeed(360)

In [83]:
redcar.drive()

driving maxspeed 360

In [2]:
#script called inside another script is known as module 
#collection of modules is known as package

In [29]:
def ask_for_int():
    while True:
        try:
            result=int(input('Enter a digit: '))
        except:
            clear_output()
            print('whoops thats not a number')
            continue
        else:
            clear_output()
            print('youre okay')
            break

In [30]:
ask_for_int()

youre okay

In [6]:
try:
    f=open('testfile','r')
    f.write('write a test line')
except:
    print('all other exceptions')
finally:
    print('I always run')

all other exceptions
I always run

In [32]:
try:
    for i in ['a','b','c']:
        print(i**2)
except:
    print("there's an error")

there's an error

In [33]:
try:
    x = 5
    y = 0

    z = x/y
except:
    print('there is an error')
    
    
finally:
    print('all done')

there is an error
all done

In [18]:
from IPython.display import clear_output

def ask_for_int():
    while True:
        try:
            result=int(input('Input an integer: '))
            a=result**2
            print('thanks your num is squared: {a}'.format(a=result))
        except:
            
            print('an error occured! Please try again')
            clear_output()
            continue
        else:
            
            print('youre okay')
            break

In [19]:
ask_for_int()

Input an integer: 5
thanks your num is squared: 5
youre okay

In [20]:
def new_func(name):
    return name

new_func('ubit')

'ubit'

In [21]:
def change_name(lst):
    return lst+['baig']

lst=['noman']
change_name(lst)

['noman', 'baig']

In [23]:
def calsum(lst):
    sum=0
    for x in lst:
        sum+=x
    return sum
    
lst=[2,4,6,8]
calsum(lst)

20

In [5]:
while True:
    try:

        name = input("Enter your name: ")
        income = int(input("Please enter your taxable income: "))
        location = input("Enter your current location: ")
    except ValueError:
        print("Sorry, I didn't understand that please enter what is actually asked.")

        continue
    else:
        break


def tax(income,name,location):
    if income <= 18200:
        tax = 0

    elif income <= 37000: 
        tax = (income - 18200) * 0.19 

    elif income <= 90000:
        tax = (income-37000) * 0.235 + 3572 

    elif income <= 180000:
        tax = (income - 90000) * 0.37 + 20797 

    else:
        tax = (income - 180000) * 0.45 + 54097

    print("you owe", tax, "pkr in tax!" )
    
tax(income,name,location)

Enter your name: muhammad noman baig
Please enter your taxable income: 20000
Enter your current location: karachi
you owe 342.0 pkr in tax!

In [ ]:
#The asterisk * symbol is used to print every item in a collection, and the sep='\n ' argument prints each item on a separate line

In [7]:
#map reduce filter zip enumerate all any complex

In [8]:
for num in range(5):
    print('noman')

noman
noman
noman
noman
noman

In [26]:
def word_length(phrase):
    return list(map(len,phrase.split()))

In [27]:
word_length('How long are the words in this phrase')

[3, 4, 3, 3, 5, 2, 4, 6]

In [37]:
from functools import reduce

def digits_to_num(digits):
    return reduce(lambda x,y:x*10+y,digits)

In [38]:

digits_to_num([3,4,3,2,1])

34321

In [41]:
def filter_words(word_list,letter):
    return list(filter(lambda x:x[0]==letter,word_list))

In [42]:
words = ['hello','are','cat','dog','ham','hi','go','to','heart']
filter_words(words,'h')

['hello', 'ham', 'hi', 'heart']

In [43]:
def concatenate(L1, L2, connector):
    return [word1+connector+word2 for (word1,word2) in zip(L1,L2)]

In [44]:
concatenate(['A','B'],['a','b'],'-')

['A-a', 'B-b']

In [46]:
def d_list(L):
    return {key:value for value,key in enumerate(L)}

In [47]:
d_list(['a','b','c'])

{'a': 0, 'b': 1, 'c': 2}

In [48]:
def count_match_index(L):
    return len([num for count,num in enumerate(L) if num==count])

In [49]:
count_match_index([0,2,2,1,5,5,6,10])

4

In [103]:
def cool():
    def supercool():
        return 'I am cool'
    
    return supercool

In [107]:
some=cool()

In [109]:
some()

'I am cool'

In [104]:
somefunc=cool

In [105]:
somefunc()

In [113]:
def hello():
    print("hello!")

In [116]:
some=hello

In [118]:
some()

hello!

In [130]:
def hello(name='noman'):
    print('we are inside hello!')
    
    def greet():
        return '\twe are inside greet!'
    
    def welcome():
        return '\twe are inside welcome'
    
    if name=='noman':
        return greet
    else:
        return welcome
    
    print('this is end of hello')

In [136]:
some=hello()

we are inside hello!

In [138]:
print(some())

	we are inside greet!

In [139]:
def new_decorator(original_func):
    def wrap_func():
        print('some extra code before original func')
        
        original_func()
        
        print('some extra code after original func')
        
    return wrap_func

In [140]:
def func_need_decorator():
    print('I want to be decorated')

In [142]:
some=new_decorator(func_need_decorator)

In [143]:
some()

some extra code before original func
I want to be decorated
some extra code after original func

In [144]:
func_need_decorator()

I want to be decorated

In [145]:
@new_decorator
def func_need_decorator():
    print('I want to be decorated')

In [147]:
func_need_decorator()

some extra code before original func
I want to be decorated
some extra code after original func

git clone | add . # . is used to select all files | status |commit -m | push | pull

git branch | git branch littlefeature #create branch name littlefeature | git checkout littlefeatures #switch from main to littlefeature

git checkout -b test #make branch name test and switch into it | git diff # differentiate b\w previous and newly changed file

git push origin test #push in test branch of forked repository

In [1]:
def newdec(orgfun):
    print('statement before original function')
    orgfun()
    print('statement after original function')

In [4]:
@newdec
def decorated():
    print('I want to be decorated')

statement before original function
I want to be decorated
statement after original function

In [1]:
def create_cubes(n):
    lst=[]
    for x in range(n):
        lst.append(x**3)
    return lst

In [3]:
create_cubes(6)

[0, 1, 8, 27, 64, 125]

In [7]:
def create_cubes(n):
    for x in range(n):
        yield(x**3)

In [8]:
for cubes in create_cubes(5):
    print(cubes)

0
1
8
27
64

In [9]:
def gen_fibon(n):
    
    a=1
    b=1
    for i in range(n):
        yield a
        a,b=b,a+b

In [13]:
for x in gen_fibon(10):
    print(x)

1
1
2
3
5
8
13
21
34
55

In [5]:
def simple_gen():
    for x in range(3):
        yield x

In [6]:
for num in simple_gen():
    print(num)

0
1
2

In [7]:
g= simple_gen()

In [13]:
next(g)

StopIteration:

In [15]:
s='hello'

for letter in s:
    print(letter)

h
e
l
l
o

In [16]:
next(s)

TypeError: 'str' object is not an iterator

In [18]:
s_iter=iter(s)

In [26]:
next(s_iter)

StopIteration:

In [27]:
def gensquares(n):
    for x in range(n):
        yield(x**2)

In [28]:
for x in gensquares(10):
    print(x)

0
1
4
9
16
25
36
49
64
81

In [29]:
import random
def rand_num(low,high,n):
    for x in range(n):
        yield random.randint(low,high)

In [31]:
for num in rand_num(1,10,12):
    print(num)

3
10
1
8
4
7
6
8
6
4
4
5

In [32]:
s='hello'
s_iter=iter(s)

In [40]:
next(s_iter)

StopIteration:

In [3]:
from collections import Counter

In [48]:
lst=[1,1,1,1,3,3,3,3,5,5,5,5,7,8,8,8,8,8]
Counter(lst)

Counter({1: 4, 3: 4, 5: 4, 7: 1, 8: 5})

In [50]:
lst=['a','a',3,3,3,3,3,3]
Counter(lst)

Counter({'a': 2, 3: 6})

In [52]:
Counter('adidas')

Counter({'a': 2, 'd': 2, 'i': 1, 's': 1})

In [53]:
sentence="adidas is good to wear but nike's air is far better than adidas"

In [54]:
Counter(sentence.split())

Counter({'adidas': 2,
         'is': 2,
         'good': 1,
         'to': 1,
         'wear': 1,
         'but': 1,
         "nike's": 1,
         'air': 1,
         'far': 1,
         'better': 1,
         'than': 1})

In [4]:
letters="aaaabbbbbcccdddddddddffffffffffeeeeee"
c=Counter(letters)

In [5]:
c

Counter({'a': 4, 'b': 5, 'c': 3, 'd': 9, 'f': 10, 'e': 6})

In [6]:
c.most_common(2)

[('f', 10), ('d', 9)]

In [7]:
list(c)

['a', 'b', 'c', 'd', 'f', 'e']

In [60]:
mytuple=(10,20,30)

In [61]:
mytuple[0]

10

In [62]:
from collections import namedtuple

In [63]:
Dog = namedtuple('Dog',['age','breed','name'])

In [64]:
sammy=Dog(age=5,breed='husky',name='Sam')

In [65]:
sammy.age

5

In [66]:
sammy.name

'Sam'

In [67]:
sammy[1]

'husky'

In [68]:
sammy.breed

'husky'

In [3]:
pwd

'C:\\Users\\Noman Baig\\Documents\\p bootcamp 21\\p_bootcamp21'

In [4]:
f= open('practice.txt','w+')
f.write('This is a test string')
f.close()

In [5]:
import os

In [6]:
os.getcwd()

'C:\\Users\\Noman Baig\\Documents\\p bootcamp 21\\p_bootcamp21'

In [9]:
os.listdir()

['.git',
 '.ipynb_checkpoints',
 'BlackJack.ipynb',
 'deck war.ipynb',
 'files.txt',
 'myfile.txt',
 'my_new_file.txt',
 'p bootcamp 21.ipynb',
 'practice.txt',
 'README.md',
 'testfile',
 'Tic tac toe.ipynb',
 'untitled.txt']

In [10]:
import shutil

In [11]:
shutil.move('practice.txt','C://Users/Noman Baig/')

'C://Users/Noman Baig/practice.txt'

In [12]:
os.listdir()

['.git',
 '.ipynb_checkpoints',
 'BlackJack.ipynb',
 'deck war.ipynb',
 'files.txt',
 'myfile.txt',
 'my_new_file.txt',
 'p bootcamp 21.ipynb',
 'README.md',
 'testfile',
 'Tic tac toe.ipynb',
 'untitled.txt']

In [14]:
import datetime

In [19]:
mytime=datetime.time(2,30)

In [20]:
print(mytime)

02:30:00

In [21]:
mytime.minute

30

In [22]:
mytime.hour

2

In [23]:
type(mytime)

datetime.time

In [24]:
today= datetime.date.today()

In [25]:
print(today)

2021-05-09

In [26]:
today.month

5

In [27]:
today.day

9

In [28]:
import math

In [29]:
val=4.35

In [30]:
math.floor(val)

4

In [31]:
math.ceil(val)

5

In [32]:
round(4.5)

4

In [33]:
round(5.5)

6

In [34]:
math.pi

3.141592653589793

In [35]:
from math import pi

In [37]:
pi

3.141592653589793

In [38]:
math.e

2.718281828459045

In [41]:
#10 times 2 makes 100 or 10**2
math.log(100,10)

2.0

In [42]:
10**2

100

In [43]:
math.sin(20)

0.9129452507276277

In [44]:
math.degrees(pi/2)

90.0

In [45]:
math.radians(90)

1.5707963267948966

In [46]:
import random

In [49]:
random.randint(0,100)

81

In [53]:
#randint generates new random no. everytime it runs. whenever other user runs our code he will get different output from ours thats where seed comes to play. seed generates random no. but dont change it everytime it runs
random.seed(101)
print(random.randint(0,100))
print(random.randint(0,100))
print(random.randint(0,100))
print(random.randint(0,100))
print(random.randint(0,100))

74
24
69
45
59

In [54]:
lst=list(range(0,20))

In [55]:
lst

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [56]:
random.choice(lst)

1

In [57]:
#sample with replacement
random.choices(population=lst,k=10)

[13, 4, 4, 5, 13, 4, 19, 1, 3, 1]

In [58]:
#sample without replacement
#no value will repeat
random.sample(population=lst,k=10)

[17, 11, 6, 15, 10, 3, 16, 12, 19, 18]

In [59]:
random.shuffle(lst)

In [60]:
lst

[18, 8, 0, 11, 17, 16, 7, 19, 4, 5, 12, 15, 10, 1, 3, 9, 14, 13, 2, 6]

In [1]:
x=[1,2,3]
y=2
z=3

In [2]:
import pdb

In [7]:
x=[1,2,3]
y=2
z=3

result_one=y+z

pdb.set_trace()
result_two=y+x

--Return--
None
> <ipython-input-7-4a989d871a14>(7)<module>()
      5 result_one=y+z
      6
----> 7 pdb.set_trace()
      8 result_two=y+x
      9

ipdb> e
*** NameError: name 'e' is not defined
ipdb> exit

BdbQuit:

In [8]:
#when we dont know the exact phone number to search in a list then we use a search pattern where regex comes to play

In [9]:
text='the agents phone number is 408-555-1234. Call soon!'

In [10]:
'phone' in text

True

In [11]:
import re

In [12]:
pattern = 'phone'

In [13]:
re.search(pattern,text)

In [16]:
pattern='phone'

In [17]:
match=re.search(pattern,text)

In [18]:
match

In [19]:
match.span()

(11, 16)

In [20]:
match.start()

11

In [21]:
match.end()

16

In [14]:
pattern = 'not in text'

In [15]:
re.search(pattern,text) #returns nothing when nothing found

In [22]:
text='my phone once, my phone twice'

In [23]:
match=re.search('phone',text)

In [24]:
match

In [25]:
matches=re.findall('phone',text)

In [26]:
matches

['phone', 'phone']

In [27]:
len(matches)

2

In [28]:
for match in re.finditer('phone',text):
    print(match.span())

(3, 8)
(18, 23)

In [29]:
for match in re.finditer('phone',text):
    print(match.group())

phone
phone

In [30]:
text='my phone number is 408-555-7777'

In [31]:
phone = re.search(r'\d{3}-\d{3}-\d{4}',text)

In [32]:
phone

In [33]:
phone.group()

'408-555-7777'

In [34]:
#we use compile when we have to search specific item in a pattern like a country code in phone number
phone_pattern= re.compile(r'(\d{3})-(\d{3})-(\d{4})')

In [35]:
results=re.search(phone_pattern,text)

In [37]:
results

In [40]:
results.group()

'408-555-7777'

In [41]:
results.group(1)

'408'

In [43]:
#additional regex syntax

#find either we've a cat OR dog present
re.search(r'cat|dog','I have pet dog')

In [49]:
#find all

# here . is a wild card character that says grab a single letter that comes before 'at'
re.findall(r'.at','the cat in the hat sat there')

['cat', 'hat', 'sat']

In [ ]:
#inclusion

In [54]:
#find if no. is present at start of a sentence with carrot sign ^

re.findall(r'^\d','2 is a number')

['2']

In [51]:
#find if no. is present at end of a sentence with carrot sign $

re.findall(r'\d$','there is a number 2')

['2']

In [ ]:
#exclusion #here square brackets do exclusion []

In [77]:
phrase = "there are 3 numbers 34 inside 5 this sentence."
pattern= r'[^\d]+'

In [78]:
catch=re.findall(pattern,phrase)

In [79]:
catch

['there are ', ' numbers ', ' inside ', ' this sentence.']

In [84]:
test_phrase = '!This is a string! But it has punctuation. How can we remove it?'

In [87]:
clean=re.findall(r'[^!.?]+',test_phrase)

In [91]:
''.join(clean)

'This is a string But it has punctuation How can we remove it'

In [92]:
text = 'Only find the hypen-words in this sentence. But you do not know how long-ish they are'

In [99]:
pattern=r'\w+-\w+'

In [100]:
re.findall(pattern,text)

['hypen-words', 'long-ish']

In [101]:
# Find words that start with cat and end with one of these options: 'fish','nap', or 'claw'
text = 'Hello, would you like some catfish?'
texttwo = "Hello, would you like to take a catnap?"
textthree = "Hello, have you seen this caterpillar?"

In [105]:
re.search(r'cat(fish|nap|erpillar)',text)

#re.search(r'cat(fish|nap|erpillar)',texttwo)

#re.search(r'cat(fish|nap|erpillar)',textthree)